.flex-container .raceEntries {
  justify-content: flex-start;
  margin-top: 18px;
  padding: 5px;
  margin-bottom: 36px;
}

.raceEntry {
  display: flex;
  justify-content: space-between;
}

.raceEntry span:nth-child(2) {
  text-align: right;
  color: red;
}

.raceEntries ul {
  color: white;
  text-align: initial;
  width: 100%;
}

.raceEntries li {
  padding: 3px;
  margin: 3px;
}

.raceEntries li.add {
  border: 1px solid white;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.raceEntries li span {
  font-size: 10pt;
}

.raceEntries .raceEntries-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.raceEntries .raceEntries-top button {
  width: 40px;
  height: 40px;
  font-size: 24pt;
  font-weight: bold;
  background: none;
  border-radius: 45px;
  cursor: pointer;
}

.raceEntries .raceEntries-top button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.raceEntries .raceEntries-searchable-text input {
  margin-left: 0;
  min-width: 175px;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

.raceEntries .raceEntries-searchable-text button {
  width: 24px;
  height: 24px;
  min-height: 15px;
  padding: 2px;
  margin: 0 8px;
  box-sizing: border-box;
  border-radius: 50%;
  color: #274865;
  background-color: white;
  cursor: pointer;
}
.raceEntries .raceEntries-searchable-text button:hover {
  background-color: rgb(187, 187, 187);
}
