.raceListEntry {
  display: flex;
  color: white;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5284af+0,5a87ad+100 */
  background: #5284af; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #5284af 0%,
    #5a87ad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284af', endColorstr='#5a87ad',GradientType=0 ); /* IE6-9 */
}

.raceListEntry h3 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

a.raceListEntry {
  color: white;
}
a.raceListEntry:hover {
  color: rgb(216, 216, 216);
  opacity: 0.8;
}

.racelist-new {
  height: 35px;
  font-size: 16pt;
  font-weight: 100;
  /* width: 200px; */
  color: white;
  padding: 6px 50px;
  border-radius: 5px;
  border: 2px solid #667b8d;
  background: #5284af;
}

.racelist-new:hover {
  background-color: #44698a;
  color: white;
  opacity: 1;
}

.raceListEntry-cell {
  flex: 1 1 auto;
}
.raceListEntry-editButton,
.raceListEntry-addButton {
  border: 1px solid white;
  opacity: 0.9;
  color: white;
  padding: 10px;
  border-radius: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5284af+0,5a87ad+100 */
}
.raceListEntry-editButton {
  background: #5284af; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #5284af 0%,
    #5a87ad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284af', endColorstr='#5a87ad',GradientType=0 ); /* IE6-9 */
}
.raceListEntry-addButton {
  background-color: white;
}
.raceListEntry-editButton:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
}

a.raceListEntry-editButton:hover {
  color: white;
}
.raceListEntry-buttons:hover ~ .raceListEntry {
  color: white;
  opacity: 0.8;
  outline: 1px solid green;
}
