.bar {
  height: 50px;
  width: 100%;
  background-color: rgb(25, 56, 85);
  border-bottom: 1px solid white;
  flex: 0 0 auto;
  position: fixed;
  z-index: 999;
}

.bar-info {
  color: white;
  font-size: 14pt;
}

.bar-seasons-select {
  font-size: 14pt;
  list-style: none;
  border: none;
  /* background: none; */
  background-color: rgb(25, 56, 85);
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 3px;
}
