/* Maximum width */
@media (max-width: 500px) {
  .boats {
    padding: 0px;
  }
}

/* Min width */
@media (min-width: 501px) {
  .boats {
    padding: 25px 50px;
  }
}

.boats {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.boats .list {
  border-top: 1px solid white;
}
