.boats {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 50px;
}

/* Maximum width */
@media (max-width: 500px) {
  .boats {
    padding: 5px;
  }
}

.boats .list {
  border: 1px solid white;
  border-radius: 5px;
}
