.editRace-form {
  justify-content: space-around;
  width: 80%;
  align-self: center;
}

.editRace-form input,
.editRace-form select,
.editRace-form button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  min-height: 40px;
  margin-left: 10px;
  padding: 5px 10px;
  height: 40px;
}

.editRace-form label {
  color: white;
}
