/* Maximum width */
@media (max-width: 500px) {
  .page {
    padding: 0px;
  }
}

/* Min width */
@media (min-width: 501px) {
  .page {
    padding: 5px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
}

.page .list {
  border-top: 1px solid white;
  margin-top: 15px;
}
