.overview {
  flex: 1 1 auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: 25px;
  background-color: #c6d0d6;
}

.stats-topRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.stats-container.stats-season {
  min-width: 400px;
  flex: 1 1 auto;
}

.stats-container.stats-lastRace {
  min-width: 300px;
  flex: 1 1 auto;
}

.stats-container.stats-allTime {
  height: 100vh;
  min-height: 400px;
}
