/* Page */

.more-menu {
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.more-btn span {
  background-color: #ffffff;
  margin: 0 auto;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 2px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.more-btn span:hover {
  background-color: rgb(212, 212, 212);
}

.more-menu-btn a {
  color: rgb(51, 51, 51);
}

.more-menu {
  position: absolute;
  z-index: 900;
  right: 2px;
  float: left;
  padding: 10px 0;
  margin-top: 9px;
  background-color: #fff;
  border: 1px solid #ccd8e0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 1;
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.more-menu-caret {
  position: relative;
  top: -20px;
  left: calc(100% - 25px);
  width: 18px;
  height: 10px;
  float: left;
  overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
  font-size: 0;
  line-height: 1;
}

.more-menu-caret-outer {
  border-bottom: 10px solid #c1d0da;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}

.more-menu-caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.more-menu-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.more-menu-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #dbdada;
  font-weight: bold;
}

.more-menu-item:last-of-type {
  border-bottom: none;
}

.more-menu-btn > * {
  min-width: 100%;
  color: #66757f;
  cursor: pointer;
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 25px;
  min-width: 150px;
  position: relative;
  white-space: nowrap;
}

.more-menu-btn > *:hover {
  background-color: black;
}
/* 
.more-menu-item:hover {
  background-color: #489fe5;
} */

.more-menu-btn a:hover,
.more-menu-btn span:hover {
  color: rgb(68, 135, 221);
}

.more-menu-btn a,
.more-menu-btn span {
  color: rgb(63, 62, 62);
}

.show-more-menu .more-menu {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.more {
  position: relative;
}
