.base {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
}

.main {
  top: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
