/* .base {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: all 2s;
} */

.base {
  height: 100vh;
  position: relative;
}

.main {
  top: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5284af+0,5a87ad+100 */
  background: #5284af;
  /* Old browsers */
  background: -moz-linear-gradient(top,
      #5284af 0%,
      #5a87ad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #5284af 0%,
      #5a87ad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #5284af 0%,
      #5a87ad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5284af', endColorstr='#5a87ad', GradientType=0);
  /* IE6-9 */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
}

.column label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  padding: 5px;
}

.column label input {
  width: 100%;
  padding: 10px;
  /* background: none; */
  border: none;
  /* color: white; */
  /* border: 1px solid white; */
  border-radius: 3px;
  /* background-color: #00000047; */
  font-size: 14pt;
  margin: 5px 0;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.button-save {
  margin: 25px;
  width: 100px;
  padding: 5px;
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  /* background-color: #00000047; */
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}

.button-secondary {
  margin: 15px 25px;
  width: 100px;
  padding: 5px;
  align-self: flex-start;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  /* background-color: #00000047; */
  font-size: 13pt;
  cursor: pointer;
}

.button-delete {
  color: red;
}

.button-delete:hover {
  background-color: white;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-self: center;
}

.form .field {
  margin: 5px;
}