.App {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form .field {
  margin: 5px;
}
