body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5284af+0,5a87ad+100 */
  background: #5284af; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #5284af 0%,
    #5a87ad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #5284af 0%,
    #5a87ad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284af', endColorstr='#5a87ad',GradientType=0 ); /* IE6-9 */
}

.App {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-self: center;
}

.form .field {
  margin: 5px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 5px;
}
a:hover {
  color: rgb(182, 182, 182);
}

.link {
  margin: 15px;
  padding: 2px;
  background-color: rgba(253, 253, 253, 0.2);
  border-radius: 2px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.red {
  color: red;
}
.red:hover {
  background-color: rgb(177, 0, 0);
}

/* Generic styles for components */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
}

.flex-column.stretch {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-row.stretch {
  width: 100%;
}

.flex-row-reversed {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-11auto {
  flex: 1 1 auto;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.asBadge,
.font-10pt {
  font-size: 10pt;
}

.font-bold {
  font-weight: bold;
}

.white {
  color: white;
}
.white:hover {
  color: rgb(117, 45, 45);
}

.asBadge .label {
  border: 1px solid white;
  border-radius: 15px;
  background-color: #ffffff;
  color: #2e2e2e;
  padding: 5px 10px;
  margin-right: 5px;
}

.asBadge .label.dark {
  background-color: rgb(46, 46, 46);
  color: #cccccc;
}

.threeCol-left,
.threeCol-center,
.threeCol-right {
  flex: 1 1 auto;
  width: 34%;
  height: 100%;
  margin: 0 8px;
  box-sizing: border-box;
}

.threeCol-left {
  margin-left: 15px;
}

.threeCol-right {
  margin-right: 15px;
}

.padding15 {
  padding: 15px;
}

/* form  */

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  flex: 1 1;
  align-content: flex-end;
  padding: 10px 5px;
  box-sizing: border-box;
}
.flex-container * {
  width: calc(50% - 10px);
  margin: 0 5px;
  box-sizing: border-box;
}
.flex-container :nth-child(3) {
  flex: 1 1 auto;
}
.flex-container :nth-child(4) {
}

.flex-container label {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  height: 35px;
  margin: 20px;
  align-items: center;
}

.flex-container label input {
  margin-left: 10px;
  padding: 5px;
  height: 40px;
}

.flex-container.flex-start {
  align-content: flex-start;
}
